body
{
  background-color: tan;
}

svg
{
  background-color:orange;
}

#bar
{
  float: right;
}
rect
{
  fill:cadetblue;
  opacity:.3;
  stroke: white;
}

circle;
{
  opacity:.9;
}

text {
  pointer-events: none;
  background-color: blue;
}

text span
{
  background-color: blue
}

p
{
  background-color: blue;
}

.grandparent text {
  font-weight: bold;
}


rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

h1
{
  text-align: center;
}
