body
{
  background-color: tan;
}

svg
{
  background-color:orange;
  float:right;
  padding:0px;
  margin-left:10px;
}

.graph
{
}

.chart
{
}
rect
{
  fill:cadetblue;
  opacity:.3;
  stroke: white;
}

circle;
{
  opacity:.9;
}

text {
  pointer-events: none;
  background-color: blue;
}

text span
{
  background-color: blue
}

p
{
  background-color: blue;
}

.grandparent text {
  font-weight: bold;
}


rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

#information
{
  float:left;
  display: block;
  background-color: grey;
  width: 245px;
  height: 1000px;
  padding: 0px;
}

#information h1
{
  font-size: 20pt;
}

#information h2
{
  font-size: 18pt;
}

#information h3
{
  font-size: 16pt;
}

#information h4
{
  font-size: 14pt;
}

#information h5
{
  font-size: 14pt;
}

#title
{
  text-align: center;
}
