body
{
  background-color: tan;
}

rect
{
  fill:cadetblue;
  opacity:.3;
  stroke: white;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}


rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

rect.parent {
    pointer-events: none;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  fill: #bbb;
  fill-opacity: .5;
}

.children:hover rect.child {
  fill: #bbb;
}

h1
{
  text-align: center;
}
